<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="text" name="password_digest" placeholder="password_digest">
	<input type="submit" value="Sign Up">
</form>